<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">
    <main>
        <div style="width: 49%;float: left;background-color: ;border-right: 2px solid black;height: 100%">
            <h1 style="text-align: center">Files on File Servers</h1>
            <p>File server 1</p>
            <div>
                <table id='file_content' style="width: 100%">
                    <tr style="text-align: center">
                        <th> File name </th>
                        <th> Size </th>
                        <th> Extension </th>
                    </tr>
                </table>
            </div>
            <p>File server 2</p>
             <div>
                <table id='file_content1' style="width: 100%">
                    <tr style="text-align: center">
                        <th> File name </th>
                        <th> Size </th>
                        <th> Extension </th>
                    </tr>
                </table>
            </div>
        </div>
        <div style="width: 50%;float: left;height: 100%">
            <div>
                <h1 style="text-align: center">Upload your files</h1>
            </div>
            <div>
                <div style="width: 50%;float:left">
                    <p style="text-align: center">Find files to download</p>
                    <div style="text-align: center">
                     <input type="text" name="filename" id='filename' placeholder="Type a file name here">
                     <input type="button" name="search" id='search' value="Search">
                    </div>
                </div>
                <div style="width: 50%;float: left">
                    <form action="http://10.10.223.226:4000/fileupload" method="post" enctype="multipart/form-data">
                      <input type="file" name="filetoupload"><br>
                      <input type="submit" value="Upload">
                  </form>
                </div>
            </div>
        </div>
 
    </main>
</body>
</html>
<style type="text/css">
td {
    text-align: center
}
</style>
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script>
    $.support.cors = true;
    const urlToGetAllFiles = 'http://10.10.223.226:4000/getAllFilesFromFolder';
    const urlDownLoad = 'http://10.10.223.226:4000/download';
    $.ajax({
        url: urlToGetAllFiles,
        type: 'GET',
        headers: 
        {
          'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        success: function(res) {    
            console.log(res);
            if (res.length !== []) {
                res.forEach(function(element){
                    var createParams = '?file_name='+element.fileName
                    var content = buildTd('<a href=' + urlDownLoad + createParams + '>' + element.fileName + '</a>'); 
                    content += buildTd('<p>' + element.size + ' KB' + '</p>');
                    content += buildTd('<p>' + element.ext + '</p>');
                    $('#file_content').append('<tr>' + content + '<tr>');
                })
            }
        },  
      });

    buildTd = function(content){
        return '<td>' + content + '</td>';
    }


</script>